/*Proyecto desarrollado por Aura Pico CC: 1097498480*/
html , body {
    margin: 0;
    scroll-behavior: smooth;
}


.seccion1__cajaazul {

    background-color: rgb(49, 102, 214);
    width: 100vw;
    height: 14vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    overflow-y: hidden;
    z-index: 1;
    
}

.texto1 {
    font-size: 2.5vh;
    font-family: sans-serif;
    color: white;

    position: relative;
    left: -21vw;
}

.texto2 {
    font-size: 2.5vh;
    font-family: sans-serif;
    color: white;

    position: relative;
    left: -12vw;
}

.img {
    width: 16vw;
    height: 11vh;

    position: relative;
    left: -2vw;

}


.texto3 {
    font-size: 2.5vh;
    font-family: sans-serif;
    color: white;

    position: relative;
    left: 6vw;
}

.buton {
    background-color: white;
    border-radius: 2.7vh;

    font-size: 1.5vh;
    font-family: sans-serif;
    font-weight: bolder;

    width: 7vw;
    height: 5vh;

    position: relative;
    left: 20vw;
}








/*  SECCION 2  --- PARTE DE ABAJO DEL TEXTO AZUL */

.seccion2__Paneldeconsulta {
    background: url(../img/Fondo@2x.png);

    width: 100vw;
    height: 100vh;

    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 10vh;
    overflow: hidden;
}


.seccion2__Bloquedeconsulta {
    background-color: white;
    border: 0.1vh solid rgb(212, 212, 212);
    border-radius: 3vh;

    position: relative;

    width: 28vw;
    height: 70vh;
    top: 13vh;
    left: 5vw;

    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    padding: 2vh 2vw;

}


.seccion2__texto1 , .seccion2__texto2 {
    display: flex;
    justify-content: center;
}
    
.seccion2__texto1 {
    font-family: sans-serif;
    font-size: 3.5vh;
    text-align: center;

}


.seccion2__texto2 {
    font-family: sans-serif;
    font-size: 1.5vh;
    text-align: center;
}


.seccion2__texto3__Bloquedeinput , .seccion2__texto5__Bloquedeinput , .seccion2__texto6__Bloquedeinput , .seccion2__texto7__Bloquedeinput , .seccion2__texto8__Bloquedeinput {
    font-size: 1.5vh;
    font-family: sans-serif;
    margin-bottom: -0.8vh;
}


.seccion2__inputselector , .seccion2__input3 , .seccion2__input4 , .seccion2__input5 , .seccion2__input6 {

    border-radius: 0.5vh;
    width: 53vh;
    height: 4.9vh;


}

.buttonconsult {
    border-radius: 1.5vh;
    border: 0.1vh solid rgb(46, 86, 173);
    width: 9vw;
    height: 5vh;

    font-size: 1.9vh;
    color: white;
    background-color: rgb(49, 102, 214);

    position: relative;
    left: 10vw;
    top: 1.5vh;
}


.seccion2__textos {

    position: relative;
    left: 25vw;
    top: -35vh;

    display: flex;
    text-align:center;
    flex-direction: column;
    gap: 2vh;
}


.seccion2__textos__texto1 {
    font-size: 4.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: lighter;
}

.seccion2__textos__texto2 {
    font-size: 2.5vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: lighter;
    color: rgba(48, 48, 48, 0.829);
}


.buttonconocermas {

    width: 10vw;
    height: 5vh;
    position: relative;
    left: 45vw;
    top: 3vh;

    font-size: 1.9vh;
    color: white;
    border-radius: 1.5vh;
    border: 0.1vh solid rgb(46, 86, 173);
    background-color: rgb(26, 98, 255);
}




/*  SECCION 3  --- APARTADO DEL QUE ES */


.seccion3__apartado3__quees {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    gap: 2vh;
    position: relative;
    top: 10vh;  
    left: -30vw;  

}

.seccion3__apartado3__que {

    font-size: 5vh;
    font-family: sans-serif;
    position: relative;
    top: -4vh;
    left: 31vw;
}


.seccion3__apartado3__texto1 , .seccion3__apartado3__texto2 {
    font-size: 3vh;
    font-family: sans-serif;
    line-height: 1.4;
    position: relative;
    top: 2vh;
    left: 8vw;
}

.seccion3__apartado3__texto2 {
    position: relative;
    top: 4vh;
}


.imagendineroparacaidas {
    width: 50vw;
    height:70vh;
    position: relative;
    top: -64vh;
    left: 75vw;

}


.seccion3__apartado3__texto3 {
    position: relative;
    top: 9vh;
    left: 8vw;
    font-size: 1.9vh;
    font-family: sans-serif;
}




.rayitaabajo {
    width: 1.5vw;
    height: 1.5vh;

    position: relative;
    top: -63vh;
    left: 57vw;
}


a {
    text-decoration: none; 
    color: inherit; 
    font-family: inherit; 
}

/*Proyecto desarrollado por Aura Pico CC: 1097498480*/